= render partial: 'layouts/shared/track_details_hero', locals: { title: "Designer" }
/ = render partial: "program/tracks/designer"
div.LayoutWrapper
  = render partial: 'layouts/shared/primary_callouts_nav'