= render partial: 'layouts/shared/track_details_hero', locals: { title: "Designer" }
= render partial: 'layouts/shared/individual_track', locals: { tracks: @featured }
div.LayoutWrapper
  = render partial: 'layouts/shared/primary_callouts_nav'