- header_image = sponsorship[:logo] || ""

.SponsorsSixCard-image(style="background-image: url(#{image_url header_image})")
  a(href="#{sponsorship[:link_href]}" aria-label="Visit Website" target="_blank" class="SponsorsSixCard-link")