- header_image = sponsorship[:logo] || "https://cdn-images-1.medium.com/max/800/1*amnvhplMQHkIrq_iYD8GUA.jpeg"

.SponsorsSixCard-image(style="background-image: url(#{image_url header_image})")
  a(href="#{sponsorship[:link_href]}" aria-label="Visit Website" target="_blank" class="SponsorsSixCard-link")