%section.section-container
  %h1.primary-heading#generic_heading(data-mercury="full")><
    = render_region "generic_heading" do
      Page Heading
  %div.p-copy#generic_copy(data-mercury="full")
    = render_region "generic_copy" do
      Coming Soon

