%section.main
  %div.landing-photo{:style => "background-image: url(\"/assets/landing_2014/background#{(1..11).to_a.sample}.jpg\")"}
  %section.content
    %header.masthead.masthead-offset
      %div.dsw-logo
        %span.dsw-logotype Denver Startup <span>Week</span>

    %section.landing-banner
      = render_region :landing_teaser_header, tag: 'h1', html: { class: 'teaser-header' } do
        September 15-19, 2014
      = render_region :landing_teaser_copy, tag: 'article', html: { class: 'teaser-copy' } do
        %p Since 2012, the most creative and well-connected innovators from Colorado and beyond came together for a week of learning, discussion, networking, and more. In 2013, 5,500+ startup community members and over 650 companies engaged in over 125 community-driven events all with the goal of celebrating everything entrepreneurial in the Mile High City.
        %p Seth Godin told the 2013 crowd that Denver Startup Week is incredibly unique. "This event is pretty rare," he said. "It's not just rare for me; it's rare for the world."
        .button-container
          %a.btn(href="/sponsors") Sponsorship
          %a.btn(href="/2013-photos") Photos from 2013
          %a.btn(href="/get-involved") Get Involved
= render partial: 'layouts/shared/footer'
