%hr
%section.section-container.filter-bar(data-bindable="filter-bar")
  %form.dsw-form.form-filter(role="form")
    %fieldset

      %div.control-group
        %label.control-label(for="search_bar") Search
        %div.controls
          %input#search_bar(type="search" placeholder="Search")

      %div.control-group
        %div.controls
          %div.filter-drop(data-filterable="filter-drop" data-action="filter" data-behavior="checkbox")
            %button.drop-toggle Filter by: <span class="tagged-as"></span><span class="drop-caret"></span>
            %ul.drop-menu.tag-menu(role="menu")
              %li(data-filter-by="track")<
                %a(href="#") Track
              %li(data-filter-by="day")<
                %a(href="#") Day
              %li(data-filter-by="time")<
                %a(href="#") Time
              %li(data-filter-by="place")<
                %a(href="#") Place

      %div.control-group
        %div.controls
          %div.filter-drop(data-filterable="filter-drop" data-action="sort" data-behavior="radio")
            %button.drop-toggle Sort by: <span class="tagged-as"></span><span class="drop-caret"></span>
            %ul.drop-menu.select-menu(role="menu")
              %li(data-filter-by="popularity")<
                %a(href="#") Popularity
              %li(data-filter-by="time")<
                %a(href="#") Time
              %li(data-filter-by="track")<
                %a(href="#") Track
              %li(data-filter-by="alphabetical")<
                %a(href="#") Alphabetical

%section.section-container.module-panels
  %ol.module-list
    -(1..3).each do |i|
      %li.module
        %a.panel-toggle(href="#")
          %span.dswacon.dswacon-plus
        %div.module-contents
          %div.module-icon-cell
            %div.dswacon.dswacon-plus.dswacon-panel-icon
          %div.module-details-cell
            %h3.module-heading Title of Panel or Workshop
            %div.p-copy Lorem ipsum dolere sit amet nonummy consecuter nomen es quid. Lorem ipsum dolere sit amet nonummy consecuter nomen es quid.
            %div.track-copy Technology
        %div.voting-cell
          %h4.voting-heading 66%
          %div.voting-engine
            %span.dswacon.dswacon-plus
            %span.dswacon.dswacon-minus

