= render 'components/content_card_list', attributes: { 'aria-label': title } do
  - list.each do |card|
    = render 'components/content_card_list_item' do
      = render 'components/content_card', card: card, title: title