.COCAcknowledgement
  = f.check_box :dei_acknowledgement, required: 'required', class: 'DEIAcknowledgement-checkbox'
  = f.label :dei_acknowledgement, class: 'DEIAcknowledgement-label' do
    span I understand that all submitted DSW sessions, including my own, will be REQUIRED to have gender and/or race/ethnicity diversity with regard to its organization, participation and/or content.
