- unless params[:hide_chrome]
  %footer.footer
    %div.footer-container
      %header.footer-header
        %h5.dsw-logotype Denver Startup <span>Week</span> <span class="logotype-year">2014</span>
        %div.social-icons
          %a.dswacon.dswacon-facebook(href="https://www.facebook.com/DenverStartupWeek")
          %a.dswacon.dswacon-twitter(href="https://twitter.com/denstartupweek")
          %a.dswacon.dswacon-google-plus(href="https://plus.google.com/105192639808515157053")

      %nav.footer-navigation(role="navigation")
        = semantic_navigation :footer, id: 'footer_navigation', class: 'footer-nav site-nav' do |n|
          - Cmsimple::Page.published.where(parent_id: nil, is_root: false).order(:position).each do |page|
            - n.item page.title, page.uri
          - if FeatureToggler.submission_active?
            - n.item 'Submit a Session', main_app.new_submission_path, data: { 'no-turbolink' => true },
              highlights_on: [ { controller: 'submissions', action: 'new' },
                               { controller: 'submissions', action: 'thanks' },
                               { controller: 'submissions', action: 'submissions_closed' } ]
          - if FeatureToggler.feedback_active?
            - n.item 'Panel Picker', main_app.submissions_path, data: { 'no-turbolink' => true },
              highlights_on: [ { controller: 'submissions', action: 'show' },
                               { controller: 'submissions', action: 'index' },
                               { controller: 'submissions', action: 'feedback_closed' } ]
          - if FeatureToggler.registration_active?
            - unless signed_in? && registered?
              - n.item 'Register', main_app.new_registration_path, data: { 'no-turbolink' => true }
            - n.item 'Schedule', main_app.schedules_path, data: { 'no-turbolink' => true }
          - if current_user && current_user.is_admin?
            - n.item 'Manage &rarr;'.html_safe, main_app.admin_root_path, data: { 'no-turbolink' => true }
