%footer.footer
  %div.footer-container
    %header.footer-header
      %h5.dsw-logotype Denver Startup <span>Week</span>
      %div.social-icons

    %nav.footer-nav
      %ul
        %li
          %a(href="#") Link
        %li
          %a(href="#") Link
        %li
          %a(href="#") Link

