%footer.footer
  %div.footer-container
    %header.footer-header
      %h5.dsw-logotype Denver Startup <span>Week</span> <span class="logotype-year">2013</span>
      %div.social-icons
        %a.dswacon.dswacon-facebook(href="https://www.facebook.com/DenverStartupWeek")
        %a.dswacon.dswacon-twitter(href="https://twitter.com/denstartupweek")
        -# %a.dswacon.dswacon-linkedin(href="#")

    %nav.footer-navigation(role="navigation")
      = semantic_navigation :footer, id: 'footer_navigation', class: 'footer-nav site-nav' do |n|
        - if current_user
          - n.item "Hello, #{current_user.name}", '#'
        - Cmsimple::Page.published.where(parent_id: nil, is_root: false).order(:position).each do |page|
          - n.item page.title, page.uri
        - n.item 'Panel Picker', main_app.submissions_path
        - if current_user && current_user.is_admin?
          - n.item 'Manage &rarr;'.html_safe, main_app.admin_root_path, data: { 'no-turbolink' => true }
