header#site-header-js.Header
  .Header-inner
    a.Header-home-link(href="/" aria-label="Home")
      img.Header-image(src="#{image_url('redesign/logos/dsw-grey.svg')}")
      img.Header-image-menu(src="#{image_url('redesign/logos/dsw-white.svg')}")
    .Header-actions
      .Header-profile-actions
        - if signed_in?
          a href="#{dashboard_path}"
            = render partial: 'components/name_with_avatar', locals: { name: current_user.name, initials: current_user.initials, align: 'left' }
        - else
          a.Header-signup(href="/users/sign_in") Sign Up / Sign In
      button.Header-button.Header-button-open#menu-open-button-js.Header-menu-button(aria-label="Open Main Menu")
        = render partial: 'icons/hamburger'
      button.Header-button.Header-button-close#menu-close-button-js.Header-menu-button(aria-label="Close Main Menu")
        = render partial: 'icons/close'


/ - active_item = base_navigation_path
/ header.masthead.section__wrap(data-bindable='toggle-nav')
/   .section-content.clearfix
/     a#menu-icon href='#'
/       = render partial: 'icons/hamburger'
/     h1.logo-container
/       a.logo href='/' <span>Denver Startup Week</span>

/     nav.outer-modal-container
/       .inner-modal-container
/         a.close href='#'
/           = render partial: 'icons/x_mark'
/         - if signed_in?
/           div.primary
/             = link_to 'My Dashboard', dashboard_path, class: active_item == 'dashboard' ? 'active' : ''
/         - if AnnualSchedule.cfp_open?
/           div.primary
/             = link_to 'Submit a talk', new_submission_path, class: active_item == 'users' ? 'active' : ''
/         - elsif AnnualSchedule.registration_open?
/           div.primary
/             = link_to 'Schedule / Register', schedules_path, class: %w(schedule users).include?(active_item) ? 'active' : ''
/         - elsif AnnualSchedule.post_week?
/           div.primary
/             = link_to 'Schedule', schedules_path, class: %w(schedule users).include?(active_item) ? 'active' : ''
/         - elsif !signed_in?
/           div.primary
/             = link_to 'Sign In/Sign Up', dashboard_path, class: active_item == 'users' ? 'active' : ''
/         - if AnnualSchedule.voting_open?
/           div.primary
/             = link_to 'Panel Picker', submissions_path, class: active_item == 'users' ? 'active' : ''
/         div
/           = link_to 'Program', page_path(page: 'program'), class: %w(program basecamp).include?(active_item) ? 'active' : ''
/         div
/           = link_to 'Initiatives', page_path(page: 'initiatives'), class: active_item == 'initiatives' ? 'active' : ''
/         div
/           = link_to 'Sponsors', page_path(page: 'sponsors'), class: active_item == 'sponsors' ? 'active' : ''
/         div
/           = link_to 'Get Involved', page_path(page: 'get-involved'), class: active_item == 'contact' ? 'active' : ''
