%nav.primary-navigation(role="navigation")
  %div.navigation-container
    = semantic_navigation :primary, id: 'primary_navigation', class: 'primary-nav site-nav' do |n|
      - n.item '', '/', class: 'home-icon'
      - Cmsimple::Page.where(parent_id: nil, is_root: false).each do |page|
        - n.item page.title, page.uri
      - n.item 'Panel Picker', main_app.submissions_path
      - if current_user && current_user.is_admin?
        - n.item 'Manage &rarr;'.html_safe, main_app.admin_root_path, data: { 'no-turbolink' => true }
