%nav.primary-navigation(role="navigation")
  %div.navigation-container
    = semantic_navigation :primary, id: 'primary_navigation', class: 'primary-nav site-nav' do |n|
      - n.item '', '/', class: 'home-icon'
      - Cmsimple::Page.root.first.descendants.each do |page|
        - n.item page.title, page.uri
      - n.item 'Submit a Session', main_app.new_submission_path
