%nav.primary-navigation(role="navigation")
  %div.navigation-container
    = semantic_navigation :primary, id: 'primary_navigation', class: 'primary-nav site-nav' do |n|
      - n.item '', '/', class: 'home-icon'
      - n.item 'About', '/about'
      - n.item 'Panel Picker', '/panel-picker'
      - n.item 'Schedule', '/schedule'
      - n.item 'Sponsors', '/sponsors'


