@import ../config

.basecamp-logo
  display: none
  max-width: 200px
  margin-right: 40px
  margin-bottom: 20px

.basecamp-hero-copy
  display: inline-block
  max-width: 400px
  vertical-align: 20px


#new_site_controller.basecamp-action
  section.common.basecamp-info
    padding: 0
    h1
      text-transform: capitalize
    .section-image
      background: image-url('2016_redesign/basecamp.jpg') no-repeat
      background-size: cover
      background-position: 50% 50%
      height: 300px

@media(min-width: 680px)
  .basecamp-logo
    display: inline-block
