/*------------------------------------*\
    //Index of Anatomy
    ----------------------------------*
    //Global
    //Footer
\*------------------------------------*/


/*------------------------------------*\
    //Global
\*------------------------------------*/
html{
    border-top:6px solid $color-1;
}
.borbot{
    border-bottom:3px solid $black;
}
.fullwide{
    @include col(12);
}
.blue{
    background:$color-1;
    color:#fff;
}

/*------------------------------------*\
    //Footer
\*------------------------------------*/
.footer {
    padding:10px 0;
    a {
        color:$white;
        &:hover{
            color:darken($color-1, 30%);
        }
    }
    .footer__copy{
        @include col(3);
    }
    .footer__reppin{
        @include col(3, $offset: 6);
        text-align: right;
    }
    @include bp(solarsystem) {
        .footer__reppin,
        .footer__copy{
            @include col(12, $offset:0);
            padding:{top:5px;bottom:5px;}
            text-align: center;
        }
    }
}