.masthead
  @extend .container
  @extend .container-justified
  padding-left: 1%
  padding-right: 1%

.masthead .dsw-logo
  margin-bottom: 1.3em


@media (max-width: 31.25em)
  .masthead .dsw-logo:before
    +font-size(170)
  .masthead .dsw-logotype
    +font-size(22)

@media (min-width: 31.25em)
  .masthead .dsw-logo:before
    +font-size(180)
  .masthead .dsw-logotype
    +font-size(32)

@media (min-width: 50em)
  .masthead
    padding-left: 0
    padding-right: 0

