.masthead
  @extend .container
  @extend .container-justified
  padding-left: 1%
  padding-right: 1%


// Combine the logo
.dsw-logo
  color: white
  display: inline-block
  margin-bottom: 1.3em

.dsw-logo:before
  @extend %dswacon
  @extend .dswacon-logo:before
  +font-size(170)
  display: block
  margin-bottom: -0.2em

.dsw-logotype
  +font-size(22)
  color: white
  font-family: $sans-neue-family
  font-weight: bold
  display: block
.dsw-logotype span
  font-weight: normal


@media (min-width: 31.25em)
  .dsw-logo:before
    +font-size(180)
  .dsw-logotype
    +font-size(32)

@media (min-width: 50em)
  .masthead
    padding-left: 0
    padding-right: 0

