$max-breakpoint: 1100px

$teal-text: #035c6b
$teal-background: #05d3d8
$blue-text: #044968
$blue-background: #06b4ea
$green-text: #667526
$green-background: #ace279
$flogreen-text: #667526
$flogreen-background: #c6f786
$purple-text: #3c3c6d
$purple-background: #9c9cf2

$copy-color: #58595b
$copy-color-bold: #4d4d4d

$backfill-grey: #ebebeb
