.landing-photo-container,
.landing-photo
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  width: 100%
  height: 100%
  background-size: cover

.landing-photo-container
  background-color: #3599ed
.landing-photo
  display: none
  background: transparent no-repeat center center
  opacity: .2

.landing-banner
  @extend %clearfix
  width: 100%
  background-color: white
  font-size: 0
  padding: rem(30)

  .btn
    color: white
    padding: em(12) em(20)
    margin: 1em 1em 0 0
    text-transform: uppercase
    +font-size(12)

  .teaser-header,
  .teaser-copy,
  .teaser-announce
    display: inline-block
    vertical-align: top
  .teaser-copy
    padding-bottom: rem(20)

  .teaser-header h1
    @extend %sans-ultra
    +font-size(48)
    color: #788793

  .teaser-copy,
  .teaser-announce-copy
    +font-size(12)
    color: #788793

  .teaser-announce h1
    color: #415464
  .teaser-announce-header h2
    +font-size(16)
    font-weight: 800
    color: #3599ed
  .teaser-announce-header span.date
    font-weight: 400

  .teaser-announce-buttons
    +font-size(16)
    color: #3599ed


@media (max-width: 50em)
  .teaser-header,
  .teaser-copy,
  .teaser-announce
    text-align: center
    width: 100%

  .button-container
    text-align: center

@media (min-width: 50em)
  .landing-photo
    display: inline
  .teaser-header,
  .teaser-copy,
  .teaser-announce
    text-align: left
    width: 33.3333%
  .teaser-header,
  .teaser-copy
    padding: 0 rem(40) 0 0
