- content_for(:fullscreen_takeover, true)
- content_for(:title, 'Register')

= render 'layouts/shared/fullscreen_takeover_header', title: 'Registration Closed', background: 'light'
= render layout: 'layouts/shared/layout_wrapper' do

  h3 Thanks for your interest in attending Denver Startup Week. Registration for #{current_year} is currently closed.
