- if AnnualSchedule.registration_open? || AnnualSchedule.in_week?
  section.common.teal
    .section-content.sm-centered
      h6 Please note that all sessions are seated on a first-come, first-serve basis. Be sure to arrive early to secure your spot!
