.module-list
  @extend %clearfix
  @extend %unstyled-list
  margin-top: em(20)

.module-group-header
  width: 100%
  background-color: $btn-bgc
  border: 0
  color: white
  display: inline-block
  font-family: $sans-neue-family
  text-align: center
  padding: 1em 0 1em 0
  width: 99%
  margin-left: 0.5%
  margin-right: 0.5%
  margin-bottom: 1em

.module
  position: relative
  margin-bottom: 1em

  .expanded-shown
    display: none
  .expanded-hidden
    display: block
  &.expanded
    .expanded-shown
      display: block
    .expanded-hidden
      display: none

.module-contents
  background-color: #546574
  padding: 1em


@media (max-width: 50em)
  .module-icon-cell,
  .module-details-cell
    display: table-cell
    vertical-align: middle
    text-align: left
  .module-details-cell
    padding-left: 1em

@media (min-width: 50em)
  .module
    float: left
    width: 32.333%
    margin-left: 0.5%
    margin-right: 0.5%
  .module-contents
    padding-top: 3em
    padding-bottom: 3em
  .module-icon-cell
    margin-bottom: 1.25em

