<h4>
  <i class="icon-doc"></i>
  Session Submissions
</h4>
<ul>
  <%- if @user %>
    <%- @user.submissions.each do |submission| %>
      <li><%= link_to "#{submission.full_title} (#{submission.year})", admin_submission_url(submission) %></li>
    <%- end %>
  <%- end %>
</ul>
<h4>
  <i class="icon-cart"></i>
  Registration History
</h4>
<p>
  <%- if @user %>
    <%- @user.registrations.each do |registration| %>
      <span class="badge"><%= registration.year %></span>
    <%- end %>
  <%- end %>
</p>
