%hr
%section.section-container.module-ctas
  %h2.primary-heading Our 2013 Call for Sessions is open!
  %ul.module-list
    %li.cta
      %div.cta-content-cell
        %div.dswacon.dswacon-bulb.dswacon-combo-primary
        %h3.primary-heading.cta-heading Submit Idea
        %div.cta-copy Have an idea for a panel or workshop?
      = link_to 'Get Started', new_submission_path, class: 'btn cta-btn'
    %li.cta
      %div.cta-content-cell
        %div.dswacon.dswacon-vote-yes.dswacon-combo-secondary
        %h3.primary-heading.cta-heading View / Vote
        %div.cta-copy View and vote on panel/workshop ideas.
      %button.btn.btn-secondary.cta-btn(href="#") Coming Soon
