- content_for(:fullscreen_takeover, true)

= render 'layouts/shared/fullscreen_takeover_header', title: 'Submit Session', background: 'light', on_close: '/get-involved'
= render layout: 'layouts/shared/layout_wrapper' do

  h3 Session submissions for #{current_year} are currently closed
