- content_for(:fullscreen_takeover, true)

= render 'layouts/shared/fullscreen_takeover_header', title: 'Submit Session', background: 'light'
= render layout: 'layouts/shared/layout_wrapper' do

  h3 Session submissions for #{current_year} are currently closed

/ = render partial: 'dashboards/nav', locals: { item: :mine }

/ section.common.blue
/   .section-content
/     .dash-profile-bar
/       h3 Session submissions for #{current_year} are currently closed
