%section.section-container
  %h1.primary-heading
    Thanks for submitting!
  %div.p-copy#generic_copy
    We appreciate your interest and will be in touch shortly. If you have any questions, comments, or concerns, please <a href="mailto:denverstartupweek@gmail.com">email us</a>.
    %br
    You're also welcome to <a href="#{new_submission_path}">submit another proposal</a> if you'd like.

