@import ../config

.ContentCard
  height: 100%

.ContentCard-img
  height: 152px;
  width: 100%

.ContentCard-title
  color: $teal-dark
  text-transform: uppercase
  line-height: 32px
  font-size: 28px
  font-weight: 300
  margin-top: 29px

.ContentCard-description
  color: $copy-color
  margin-top: 49px
  line-height: 18px
  font-size: 14px
  font-weight: 300

.ContentCard-button
  margin-top: 60px
  text-align: center

@media(min-width: 640px)
  .ContentCard-img
    height: 295px;
  .ContentCard-text
    margin: 0 41px
  .ContentCard-button
    text-align: left