@import ../config

.ContentCard-list
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin: 0 auto
  max-width: 1320px;
  margin: 0 auto;

.ContentCard-list-item
  width: 340px
  height: 100%
  padding: 12px
  padding-top: 0
  margin-bottom: 56px

@media(min-width: 1332px)
  .ContentCard-list
    justify-content: space-between

@media(min-width: 640px)
  .ContentCard-list-item
    width: 659px
    height: 616px