@import ../config

.ContentButton
  background-color: #fff;
  border: 1.5px solid $teal-light
  border-radius: 26.5px
  width: 315px
  height: 56px

.ContentButton-title
  text-transform: uppercase
  font-size: 12px
  font-weight: 500
  color: $teal-light