@import ../config

.NameWithAvatar
  display: flex
  align-items: center

.NameWithAvatar-name
  @include font-family-mixin(Montserrat-Light)
  font-size: 14px
  margin-right: 16px
  max-width: 300px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.NameWithAvatar.is-right
  .NameWithAvatar-name
    order: 2
    margin-right: 0
    margin-left: 16px
  .NameWithAvatar-linkedin
    order: 3

.NameWithAvatar-linkedin
  .SocialMediaNav-fa-circle
    background: #4d4d4d
  .SocialMediaNav-icon
    color: #fff