$heading-color: white
$heading-font-weight: normal
$mark-bgc: #ffc40d

@import utensils/typography

%sans-lite
  font-family: $sans-lite-family
  font-weight: 300

%sans-thin
  font-family: $sans-thin-family
  font-weight: 200

%sans-ultra
  font-family: $sans-ultra-family
  font-weight: 100

.module-primary-heading
  @extend %sans-thin
  +font-size(40)
  text-transform: capitalize

.module-secondary-heading
  @extend %sans-lite
  +font-size(22)

.bio-heading
  @extend %sans-lite
  +font-size(18)

p
  +font-size(13)

.p-copy
  +font-size(13)
  margin: 1em 0

