$heading-color: white
$heading-font-weight: normal
$mark-bgc: #ffc40d

@import utensils/typography

%sans-light
  font-family: $sans-light-family
  font-weight: 300

%sans-thin
  font-family: $sans-thin-family
  font-weight: 200

%sans-ultra
  font-family: $sans-ultra-family
  font-weight: 100

%sans-ultra-bold
  font-family: $sans-ultra-family
  font-weight: 600

.primary-heading
  @extend %sans-ultra
  +font-size(30)
  text-transform: capitalize

.secondary-heading,
.module-heading
  @extend %sans-light
  +font-size(18)

.module-heading a,
.module-heading a:visited
  color: white
.module-heading a:focus,
.module-heading a:hover
  color: $primary

.voting-heading
  @extend %sans-ultra
  +font-size(26)


p,
.p-copy,
.bio-copy
  +font-size(13)

.p-copy
  margin: 1em 0

strong, b
  font-family: $sans-neue-family

.track-copy
  @extend strong
  +font-size(16)
  &.blue
    color: #7dc3fd


@media (min-width: 31.25em)
  .primary-heading
    +font-size(40)
  .secondary-heading
    +font-size(22)
  .voting-heading
    +font-size(36)

