@import ../config

.ArticlesAndSessionsList-wrapper
  margin-bottom: 251px

.ArticlesAndSessionsList-wrapper.is-overlapped
  margin-top: -68px

.ArticlesAndSessionsList
  margin-bottom: 80px

.ArticlesAndSessionsList-btn-wrapper
  display: flex
  justify-content: center

.ArticlesAndSessionsList-load-more-button
  +white-button(220px, 46px)
  width: 220px

@media(max-width: 768px)
  .ArticlesAndSessionsList-wrapper
    margin-bottom: 50px
  .ArticlesAndSessionsList
    margin-bottom: 30px