@import ../config

.SubProgramDetailsHero
  // background: rgb(187, 221, 122)
  padding: 91px 5% 124px 5%

.SubProgramDetailsHero-inner
  max-width: 1252px
  margin: 0 auto

.SubProgramDetailsHero-back-btn
  display: flex
  justify-content: space-between
  max-width: 175px
  text-transform: uppercase
  color: white
  font-family: Montserrat-Medium
  font-size: 12px
  line-height: 30px

.SubProgramDetailsHero-title-wapper
  display: flex
  justify-content: space-between
  align-items: flex-end

.SubProgramDetailsHero-title
  // color: rgb(97, 107, 34)
  font-family: Montserrat-Black
  font-size: 120px
  font-weight: 900
  line-height: 90px
  text-transform: uppercase
  max-width: 697px
  margin-top: 68px

.SubProgramDetailsHero-SubProgram-btn
  margin-right: 5%
  position: relative
  // background-color: rgb(187, 221, 122)
  // border: 1.5px solid rgb(97, 107, 34)
  border-radius: 26.5px
  width: 253px
  height: 46px
 

.SubProgramDetailsHero-SubProgram-btn-title a
  text-transform: uppercase
  font-size: 12px
  font-weight: 500
  // color: rgb(97, 107, 34)
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 253px
  height: 46px
  line-height: 46px
  z-index: 1;

@media(max-width: 768px)
  .SubProgramDetailsHero-title
    font-size: 62px
    line-height: 50px

@media(max-width: 1100px)
  .SubProgramDetailsHero
    padding: 50px 5% 75px 5%
  .SubProgramDetailsHero-title-wapper
    display: block
  .SubProgramDetailsHero-SubProgram-btn
    margin-top: 50px