@import ../config

.TeamList
  display: flex
  justify-content: center

.TeamList-list
  margin-top: -68px
  margin-bottom: 108px

.TeamList-title
  @include font-family-mixin(Montserrat-Light)
  color: $primary-font-dark
  font-size: 28px
  line-height: 32px
  text-transform: uppercase
  margin-bottom: 30px