%li(data-filter="newsletter_signup, snippet, name")
  %img(alt="Newsletter Signup Snippet" data-snippet="newsletter_signup" src="/assets/toolbar/snippets.png")
  %h4>Newsletter Signup
  .description A form accepting signups for the DSW MailChimp mailing list
%li(data-filter="volunteer_signup, snippet, name")
  %img(alt="Volunteer Signup Snippet" data-snippet="volunteer_signup" src="/assets/toolbar/snippets.png")
  %h4>Volunteer Signup
  .description A form accepting signups for the DSW volunteer list
%li(data-filter="sponsor_signup, snippet, name")
  %img(alt="Sponsor Signup Snippet" data-snippet="sponsor_signup" src="/assets/toolbar/snippets.png")
  %h4>Sponsor Signup
  .description A form accepting signups for the DSW sponsor list
%li(data-filter="bio, snippet, name")
  %img(alt="Bio Snippet" data-snippet="bio" src="/assets/toolbar/snippets.png")
  %h4>Bio
  .description Bio square for the about page
