%li(data-filter="newsletter_signup, snippet, name")
  %img(alt="Newsletter Signup Snippet" data-snippet="newsletter_signup" src="/assets/toolbar/snippets.png")
  %h4>Newsletter Signup
  .description A form accepting signups for the DSW MailChimp mailing list
