.schedule-header
  text-align: left
  padding: 1em 0 1em 0.75em


.schedule-day
  @extend %sans-ultra-bold
  +font-size(15)


.schedule-date
  @extend %sans-light
  +font-size(15)

.schedule-module
  text-align: left

.schedule-module-contents
  padding: 0

.schedule-module-header
  position: relative
  padding: 1em 1em 1em 4.75em

.schedule-module-footer
  position: relative
  background-color: #1c262e
  padding: 1em 1em 1em 4.75em

.schedule-module-header,
.schedule-module-footer
  .dswacon
    position: absolute
    top: 0
    left: 0

