/*------------------------------------*\
    //Mixins
\*------------------------------------*/

/*------------------------------------*\
    //Placeholder Color
\*------------------------------------*/
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

/*------------------------------------*\
    //@Font Face Shortener
\*------------------------------------*/
//Usage:
//Descript:

@mixin font-face($fam, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
  @font-face {
    font-family: $fam;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url('fonts/#{$file-path}.eot');
      src: font-url('fonts/#{$file-path}.eot?#iefix')          format('embedded-opentype'),
           font-url('fonts/#{$file-path}.woff')                format('woff'),
           font-url('fonts/#{$file-path}.ttf')                 format('truetype'),
           font-url('fonts/#{$file-path}.svg##{$fam}') format('svg');
    } @else {
      src: url('fonts/#{$file-path}.eot');
      src: url('fonts/#{$file-path}.eot?#iefix')               format('embedded-opentype'),
           url('fonts/#{$file-path}.woff')                     format('woff'),
           url('fonts/#{$file-path}.ttf')                      format('truetype'),
           url('fonts/#{$file-path}.svg##{$fam}')      format('svg');
    }
  }
}

/*------------------------------------*\
    //Media Queries
\*------------------------------------*/
//Usage:
// @include bp(custom, $max: 200px){ body { background:#000 } }
// @include bp(custom, $min: 500px){ body { background:#fff } }
// @include bp(custom, $min: 500px, $max: 200px){ body { background:#000 } }
// @include bp(planetary){ body { background:#fff } }

//breakpoints
$galaxy:      1140px;
$solarsystem:   1024px;
$planetary:     480px;

@mixin bp($media, $min: false, $max: false) {
    @if $media == galaxy {
        @media only screen and (max-width: $galaxy) { @content; }
    }
    @else if $media == solarsystem {
        @media only screen and (max-width: $solarsystem) { @content; }
    }
    @else if $media == planetary {
        @media only screen and (max-width: $planetary) { @content; }
    }


    @else if $media == custom and $min and $max {
        @media only screen and (min-width: $min) and (max-width: $max) { @content; }
    }
    @else if $media == custom and $min {
        @media only screen and (min-width: $min) { @content; }
    }
    @else if $media == custom and $max {
        @media only screen and (max-width: $max) { @content; }
    }

}

/*------------------------------------*\
    //Changing grid-column to col
\*------------------------------------*/

//Just @include col(x);
@mixin col($columns, $last-column:false, $center:false, $offset:false, $push:false, $pull:false, $collapse:false, $float:left) {
    @include grid-column($columns, $last-column, $center, $offset, $push, $pull, $collapse, $float);
}