---
http_interactions:
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"test@example.com","first_name":"Test","last_name":"User"}]'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1513028132'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":1,"updated_count":0,"error_count":0,"error_indices":[],"unmodified_indices":[],"persisted_recipients":["dGVzdEBleGFtcGxlLmNvbQ=="],"errors":[]}

'
  recorded_at: Mon, 11 Dec 2017 21:35:31 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/<SENDGRID_LIST_ID>/recipients/dGVzdEBleGFtcGxlLmNvbQ==
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - ''
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1513028132'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Dec 2017 21:35:31 GMT
recorded_with: VCR 4.0.0
