@import ../config

.spotlight-background
  background-color: $spotlight-track

.developer-background
  background-color: $developer-track

.designer-background
  background-color: $designer-track

.product-background
  background-color: $product-track

.people-background
  background-color: $people-track

.founder-background
  background-color: $founder-track

.maker-background
  background-color: $maker-track

.growth-background
  background-color: $growth-track


.spotlight-font
  color: $spotlight-track

.developer-font
  color: $developer-track

.designer-font
  color: $designer-track

.product-font
  color: $product-track

.people-font
  color: $people-track

.founder-font
  color: $founder-track

.maker-font
  color: $maker-track

.growth-font
  color: $growth-track


.spotlight-fill
  fill: $spotlight-track

.developer-fill
  fill: $developer-track

.designer-fill
  fill: $designer-track

.product-fill
  fill: $product-track

.people-fill
  fill: $people-track

.founder-fill
  fill: $founder-track

.maker-fill
  fill: $maker-track

.growth-fill
  fill: $growth-track

.spotlight-border-color
  border-color: $spotlight-track

.developer-border-color
  border-color: $developer-track

.designer-border-color
  border-color: $designer-track

.product-border-color
  border-color: $product-track

.people-border-color
  border-color: $people-track

.founder-border-color
  border-color: $founder-track

.maker-border-color
  border-color: $maker-track

.growth-border-color
  border-color: $growth-track

.gold-font-on-gold
  color: $gold-font-on-gold-light

.gold-background
  background-color: $gold-light

.gold-border-on-gold-background
  border-color: $gold-font-on-gold-light

.green-font-on-green
  color: $green-dark

.green-background
  background-color: $green-light

.green-border-on-green-background
  border-color: $green-dark

.orange-font-on-orange
  color: $orange-font-on-orange-light

.orange-background
  background-color: $orange-light

.orange-border-on-orange-background
  border-color: $orange-font-on-orange-light

.blue-font-on-blue
  color: $blue-dark

.blue-background
  background-color: $blue-light

.blue-border-on-blue-background
  border-color: $blue-dark

.teal-font-on-teal
  color: $teal-dark

.teal-background
  background-color: $teal-light

.teal-border-on-teal-background
  border-color: $teal-dark

.purple-font-on-purple
  color: $purple-dark

.purple-background
  background-color: $purple-light

.purple-border-on-purple-background
  border-color: $purple-dark

.pink-font-on-pink
  color: $pink-dark

.pink-background
  background-color: $pink-light

.pink-border-on-pink-background
  border-color: $pink-dark

.mint-font-on-mint
  color: $mint-dark

.mint-background
  background-color: $mint-light

.mint-border-on-mint-background
  border-color: $mint-dark


.cluster-background
  background-color: $teal-light

.cluster-border-on-cluster-background
  border-color: white

.cluster-font-on-cluster
  color: white