@import ../config

.gold-font-on-gold
  color: $gold-font-on-gold-light
.gold-background
  background-color: $gold-light
.gold-border-on-gold-background
  border-color: $gold-font-on-gold-light
.gold-font
  color: $gold-light
.gold-fill
  fill: $gold-light
.gold-border
  border-color: $gold-light

.green-font-on-green
  color: $green-dark
.green-background
  background-color: $green-light
.green-border-on-green-background
  border-color: $green-dark
.green-font
  color: $green-light
.green-fill
  fill: $green-light
.green-border
  border-color: $green-light

.orange-font-on-orange
  color: $orange-font-on-orange-light
.orange-background
  background-color: $orange-light
.orange-border-on-orange-background
  border-color: $orange-font-on-orange-light
.orange-font
  color: $orange-light
.orange-fill
  fill: $orange-light
.orange-border
  border-color: $orange-light

.blue-font-on-blue
  color: $blue-dark
.blue-background
  background-color: $blue-light
.blue-border-on-blue-background
  border-color: $blue-dark
.blue-font
  color: $blue-light
.blue-fill
  fill: $blue-light
.blue-border
  border-color: $blue-light

.teal-font-on-teal
  color: $teal-dark
.teal-background
  background-color: $teal-light
.teal-border-on-teal-background
  border-color: $teal-dark
.teal-font
  color: $teal-light
.teal-fill
  fill: $teal-light
.teal-border
  border-color: $teal-light

.purple-font-on-purple
  color: $purple-dark
.purple-background
  background-color: $purple-light
.purple-border-on-purple-background
  border-color: $purple-dark
.purple-font
  color: $purple-light
.purple-fill
  fill: $purple-light
.purple-border
  border-color: $purple-light

.pink-font-on-pink
  color: $pink-dark
.pink-background
  background-color: $pink-light
.pink-border-on-pink-background
  border-color: $pink-dark
.pink-font
  color: $pink-light
.pink-fill
  fill: $pink-light
.pink-border
  border-color: $pink-light

.mint-font-on-mint
  color: $mint-dark
.mint-background
  background-color: $mint-light
.mint-border-on-mint-background
  border-color: $mint-dark
.mint-font
  color: $mint-light
.mint-fill
  fill: $mint-light
.mint-border
  border-color: $mint-light