= render partial: 'layouts/shared/track_details_hero'
= render partial: 'layouts/shared/featured', locals: { featured: @featured }
div.Home-primary-callouts
= render partial: 'layouts/shared/primary_callouts_nav'