@import ../config

button
  appearance: none

a.btn,
input[type='submit']
  display: inline-block
  width: 100%
  padding: 20px
  font-family: 'Montserrat-Regular'
  font-size: 14px
  border-radius: 3px
  text-transform: uppercase
  text-align: center
a.btn.primary,
input[type='submit']
  background: $teal-background
  color: $teal-text
a.btn.blue
  background: $blue-text
  color: #fff
a.btn.teal
  background: $teal-text
  color: #fff
a.btn.green
  background: $green-background
a.btn.purple
  background: $purple-background
