@import ../config

section.common
  padding: 20px 0
  h1
    margin-bottom: 30px
    font-size: 30px
    text-transform: uppercase
  .section-image
    max-height: 300px
    overflow: hidden
  .caption
    margin-top: 15px
    font-size: 13px

section.common.green
  background: $green
  h1, h6
    color: darken($green, 35%)
section.common.purple
  background: $purple
  h1, h6
    color: darken($purple, 35%)
section.common.blue
  background: $blue
  h1, h6
    color: darken($blue, 35%)
section.common.teal
  background: $teal
  h1, h6
    color: darken($teal, 35%)

section.common.stay-in-touch
  h1
    text-transform: uppercase
    font-size: 42px

section.common.sm-centered
  max-width: 590px
  margin: 0 auto
