.ContentPage-list-wrapper
  margin: 62px auto 246px
  padding: 0 5%
  box-sizing: content-box
  .ContentCardBlock-list-item
    width: 100%
    min-height: 0px
    padding: 0px
  .ContentCardBlock-image
    display: none
  @media(min-width: 640px)
    .ContentCardBlock-link
      height: 46px
      min-width: 187px
      width: fit-content
    .ContentCardBlock-title
      max-width: none

@media(max-width: 640px)
  .ContentPage-list-wrapper
    margin-bottom: 0px