@import ../config

.Dashboard-section-wrapper
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.Dashboard-section
  margin-top: 80px

.Dashboard-profile-wrapper
  display: flex
  align-items: center
  margin-bottom: 20px

.Dashboard-profile
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.Dashboard-profile-info
  margin-left: 24px

.Dashboard-header-wrapper
  margin-bottom: 30px

.Dashboard-header-action-wrapper
  display: flex
  flex-wrap: wrap

.Dashboard-header-action
  color: $teal-light
  text-transform: uppercase
  font-size: 12px
  margin-top: 14px
  display: flex
  margin-right: 30px

.Dashboard-header-action-image
  margin-right: 10px

.Dashboard-header
  @include font-family-mixin(Montserrat-Light)
  color: $primary-font-medium
  font-size: 28px
  text-transform: uppercase

.Dashboard-profile-name
  @include font-family-mixin(Montserrat-Light)
  color: $primary-font-medium
  font-size: 28px
  margin-bottom: 5px

.Dashboard-profile-secondary
  @include font-family-mixin(Montserrat-Regular)
  color: $primary-font-light
  font-size: 14px

.Dashboard-card-list
  display: flex
  flex-wrap: wrap
  margin: 0
  margin-left: -10px

.Dashboard-card-list-item
  margin: 10px

.Dashboard-schedule
  margin: 0

.Dashboard-schedule-item
  margin-bottom: 25px

.Dashboard-empty-message
  @include font-family-mixin(Montserrat-Light)
  font-size: 14px
  color: $primary-font-medium

.Dashboard-connect-text
  max-width: 550px

.Dashboard-connect-action
  display: flex
  align-items: center
  margin-top: 30px

.Dashboard-icon-wrapper
  margin-right: 25px
  color: white

.Dashboard-icon
  height: 18px !important

.Dashboard-fa-circle
  background: #979797
  border-radius: 50%

.Dashboard-profile-connect
  @include font-family-mixin(Montserrat-Light)
  font-size: 14px
  color: $primary-font-medium
  margin-top: 20px
  max-width: 450px

.Dashboard-profile-connect-link
  +white-button(166px, 46px)
  margin-top: 20px
  width: 166px

// .dash-profile-bar
//   h3
//     font-family: 'Montserrat-Regular'
//     margin-bottom: 5px
//     font-size: 16px
//     color: $blue-dark
//   a
//     font-family: 'Montserrat-Light'
//     font-size: 14px
//     color: $blue-dark
//     &:hover
//       color: #fff

// .talk-submission
//   display: flex
//   align-items: center
//   justify-content: space-between
//   height: 50px
//   h6
//     flex: 1
//     padding-right: 25px
//     white-space: nowrap
//     overflow: hidden
//     text-overflow: ellipsis
//   .icon
//     fill: $teal-dark
