@import ../config

.Footer
  .SocialMediaNav
    margin: -0.5em
  .Footer-title
    display: inline-block
    vertical-align: middle
    margin-bottom: 8px
    font-size: 16px
    text-transform: uppercase
    white-space: nowrap
  .Footer-subtitle
    font-size: 12px
    font-weight: 300
    margin-bottom: 25px

.Footer-blocks
  display: flex
  flex-direction: column
  margin: 0 auto
  padding: 40px 20px
  max-width: $max-breakpoint

.Footer-block
  &:first-child
    margin-bottom: 50px

.Footer
  .SocialMediaNav-fa-circle
    background: #4d4d4d
  .SocialMediaNav-icon
    color: #fff
 
.Footer-primary-callouts
  margin-top: 80px

.Footer-updates-title
  text-align: left
  +font-family-mixin(Montserrat-Light)
  color: $primary-font-dark
  font-size: 28px
  font-weight: 300
  text-transform: uppercase
  margin-bottom: 31px
  
.Footer-updates-email
  +font-family-mixin(Montserrat-Light)
  font-size: 14px
  border-bottom: 1px solid $primary-font-light

.Footer-updates-submit
  +white-button(166px, 46px)
  margin-top: 22px
  float: right
  width: auto

@media(max-width: 640px)
  .Footer-blocks
    flex-direction: column-reverse
  .Footer-updates-submit
      margin-bottom: 86px
  
@media(min-width: 640px)
  .Footer-blocks
    flex-direction: row
    justify-content: space-between
  .Footer-block
    &:first-child
      margin-bottom: 0
    &:nth-child(2)
      text-align: right
  .Footer-updates
    min-width: 350px

@media(min-width: 800px)
  .Footer-blocks
    padding: 60px 20px 70px
