@import ../config

.Footer
  .Footer-title
    display: inline-block
    vertical-align: middle
    margin-bottom: 8px
    font-size: 16px
    text-transform: uppercase
    white-space: nowrap
  .Footer-subtitle
    font-size: 12px;
    font-weight: 300
  .Footer-social li
    display: inline-block
    vertical-align: middle
    margin-top: 20px
    .Footer-fa-circle
      height: 27px
      width: 27px
      background: #4d4d4d
      border-radius: 50%

    .Footer-social-link
      margin: 0 5px
    .Footer-social-icon
      height: 15px
      color: #fff

.Footer-blocks
  display: flex
  flex-direction: column
  margin: 0 auto
  padding: 40px 20px
  max-width: $max-breakpoint
  
.Footer-block
  &:first-child
    margin-bottom: 50px
  a
    text-decoration: underline
    color: #4d4d4d

.Footer-link
  margin-top: 1em
  font-weight: 500
  font-size: 12px

.Footer-link a
  text-decoration: none
  text-transform: uppercase

@media(min-width: 640px)
  .Footer-blocks
    flex-direction: row
    justify-content: space-between
  .Footer-block
    &:first-child
      margin-bottom: 0
    &:nth-child(2)
      text-align: right

@media(min-width: 800px)
  .Footer-blocks
    padding: 70px 20px
