@import ../config

header.masthead
  position: fixed
  width: 100%
  min-height: 130px
  // padding: 0 40px
  margin-top: 2.25rem
  background: #fff
  opacity: 0.95
  text-transform: uppercase
  z-index: 10
  .section-content
    position: relative
    // max-width: $max-breakpoint
    // margin: 20px auto 0
    padding: 0
  .logo-container
    display: inline-block
    float: right
  .logo
    display: inline-block
    width: 92px
    height: 92px
    background: image-url('redesign/logo_sm.svg') no-repeat center
    span
      display: none

#new_site_controller.basecamp-action
  header.masthead
    .logo-container
      display: none


@media(min-width: 740px)
  header.masthead
    .logo
      width: 130px
      height: 130px

@media(max-width: 1124px)
  header.masthead
    // padding: 0 20px

@media print
  header.masthead
    display: none !important
