@import ../config

.Schedule-form
  margin-bottom: -72px

.Schedule-search
  margin-bottom: 40px

.Schedule-filters
  display: flex
  margin-left: -10px

.Schedule-filter
  &:first-child
    margin-right: 43px

.Schedule-lists
  margin-top: 40px
  margin-bottom: 180px

.Schedule-list
  margin: 20px 0 50px

.Schedule-list-item
  margin: 0

.Schedule-list-time
  color: $primary-font-medium
  @include font-family-mixin(Montserrat-Light)
  font-size: 24px
  text-transform: uppercase
