@import ../config

.SessionDetail-prev-year-header
.SessionDetail-back-section
  margin-bottom: 40px
  margin-top: 40px
.SessionDetail-back-link
  display: flex
  flex-direction: row
  align-items: center
  text-transform: uppercase
  +font-family-mixin(Montserrat-Regular)
  font-size: 12px
  color: $teal-light
.SessionDetail-back-icon
  margin-right: 12px

.SessionDetail
  padding: 40px 0 50px
  +font-family-mixin(Montserrat-Light)
  color: $copy-color-bold
.SessionDetail-columns
  display: flex
  flex-direction: row
.SessionDetail-column--left
  flex-shrink: 1
  flex-grow: 1
.SessionDetail-column--right
  flex-shrink: 0
  flex-grow: 0
  margin-left: 130px
  max-height: 800px
  overflow: auto
.SessionDetail-track
  margin-bottom: 26px
  text-transform: uppercase
  font-size: 28px
.SessionDetail-title
  margin-bottom: 20px
  font-size: 28px
  color: $primary-font-dark
  text-transform: uppercase
.SessionDetail-stats-container
  display: flex
  flex-direction: row
.SessionDetail-date, .SessionDetail-time, .SessionDetail-attendee-count
  text-transform: uppercase
  +font-family-mixin(Montserrat-Medium)
  font-size: 14px
  margin-bottom: 12px
  margin-right: 37px
.SessionDetail-description
  color: $primary-font-medium
  font-size: 14px
  margin-top: 20px
  margin-bottom: 40px
  p
    margin: 1em 0px
.SessionDetail-stream
  display: block
  margin-top: 30px
  svg
    width: 20px
    height: 25px
    fill: $teal-light
    vertical-align: middle
    margin-right: 8px
  .SessionDetail-stream-label
    color: $teal-light
    text-transform: uppercase
    font-size: 15px
  .SessionDetail-stream-details
    margin: 20px auto
    width: 320px
    height: 180px
.SessionDetail-location
  display: block
  margin-top: 30px
  color: $primary-font-dark
  font-size: 14px
.SessionDetail-map
  margin-bottom: 80px
  width: 100%
  border: 0
  min-height: 300px
  pointer-events: none
.SessionDetail-schedule-button
  +white-button(187px, 46px)
  width: 187px
  margin-top: 30px
  margin-bottom: 40px
.SessionDetail-schedule-button--remove
  width: 210px
.SessionDetail-related-sessions
  margin-top: 50px
  margin-bottom: 90px
.SessionDetail-attendee
  padding: 6px 50px 6px 10px
.SessionDetail-related-session
  margin-bottom: 25px

@media(min-width: 400px)
  .SessionDetail-stream
    .SessionDetail-stream-details
      width: 640px
      height: 360px

@media(max-width: 600px)
  .SessionDetail-stats-container
    flex-direction: column

@media(max-width: 1000px)
  .SessionDetail-column--right
    display: none
