%dswacon
  font-family: 'dsw'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased

.dswacon
  line-height: 1
  &:before
    @extend %dswacon

.dswacon-logo:before
  content: "\e000"
  color: white


