@mixin circle_icon($size, $font_size)
  display: inline-block
  border-radius: $size
  line-height: $size
  text-align: center
  width: $size
  height: $size
  &:before
    font-size: $font_size
    line-height: $size

%dswacon
  color: white
  font-family: 'dsw'
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  text-transform: none
  speak: none
  -webkit-font-smoothing: antialiased

.dswacon
  line-height: 1
  &:before
    @extend %dswacon


// IcoMoon output

.dswacon-check:before
  content: "\e600"

.dswacon-social:before
  content: "\e601"

.dswacon-logo:before
  content: "\e001"

.dswacon-dsw-mini:before
  content: "\e002"

.dswacon-circle:before
  content: "\e003"

.dswacon-circle-border:before
  content: "\e005"

.dswacon-plus:before
  content: "\e006"

.dswacon-minus:before
  content: "\e007"

.dswacon-vote-yes:before
  content: "\e008"

.dswacon-vote-no:before
  content: "\e009"

.dswacon-search:before
  content: "\e00a"

.dswacon-star:before
  content: "\e00b"

.dswacon-bulb:before
  content: "\e011"

.dswacon-factory:before
  content: "\e004"

.dswacon-graph:before
  content: "\e00c"

.dswacon-pen:before
  content: "\e00d"

.dswacon-markup:before
  content: "\e00e"

.dswacon-linkedin:before
  content: "\e00f"

.dswacon-twitter:before
  content: "\e010"

.dswacon-facebook:before
  content: "\e000"

.dswacon-google-plus:before
  content: "\e012"

// Combinations
%icon-circle-combo
  +circle_icon(70px, 2em)

%icon-circle-combo-track
  +circle_icon(60px, 2em)

.dswacon-combo-primary
  @extend %icon-circle-combo
  background-color: $primary
.dswacon-combo-secondary
  @extend %icon-circle-combo
  background-color: $secondary

.dswacon-panel-icon
  @extend %icon-circle-combo-track
  background-color: white
  &:before
    color: #546574

// Generic Logo
.dsw-logo
  color: white
  display: inline-block

.dsw-logo:before
  @extend %dswacon
  @extend .dswacon-logo:before
  font-size: 5em
  display: block
  margin-bottom: -0.2em

.dsw-logotype
  font-size: 1em
  color: white
  font-family: $sans-neue-family
  font-weight: bold
  display: block
.dsw-logotype span
  font-weight: normal

