= render partial: 'layouts/shared/sub_program_details_hero', locals: { title: "#{@track[:name]}", sub_program: "Tracks", back_url: "/program/tracks", btn_sessions: "Track", color: "#{@track[:color]}" }
= render partial: 'layouts/shared/articles_and_sessions_list', locals: { list: featured_static_data[:features], title: "#{@track[:name].downcase}" }
div.LayoutWrapper
  = render partial: 'layouts/shared/primary_callouts_nav'