= render partial: 'layouts/shared/sub_program_details_hero', locals: { title: "#{@track[:name]}", sub_program: "Tracks", back_url: "/program/tracks", btn_sessions: "Track", color: "#{@track[:color]}" }
= render partial: 'layouts/shared/track_list', locals: { sessions_and_articles: @featured, track_name: "#{@track[:name].downcase}" }
div.LayoutWrapper
  = render partial: 'layouts/shared/primary_callouts_nav'