= render layout: 'layouts/shared/secondary_hero', locals: { title: 'Assets', sub_title: 'Band Assets', description: 'Official Denver Startup Week graphical assets and styleguide are available for download. If you have more specific needs, please contact us.' } do
  = render 'layouts/shared/about_secondary_hero_nav'

.Assets
  ul.Assets-list
    li.Assets-list-item 
      a href='/media_assets/DenverStartupWeek.eps'
        = render partial: 'icons/download'
        p Denver Startup Week Logo (EPS)

/ .section-content.sm-centered
/   .list-flex-container
/     .list-item
/       h6 Denver Startup Week Logo (EPS)
/       .list-icons
/         a href='/media_assets/DenverStartupWeek.eps'
/           = render partial: 'icons/download'

/     .list-item
/       h6 Denver Startup Week Logo (Reversed) (EPS)
/       .list-icons
/         a href='/media_assets/DenverStartupWeek_Reversed.eps'
/           = render partial: 'icons/download'

/     .list-item
/       h6 DEN Startup Week Logo (EPS)
/       .list-icons
/         a href='/media_assets/DENStartupWeek.eps'
/           = render partial: 'icons/download'

/     .list-item
/       h6 DEN Startup Week Logo (Reversed) (EPS)
/       .list-icons
/         a href='/media_assets/DENStartupWeek_Reversed.eps'
/           = render partial: 'icons/download'

/     .list-item
/       h6 Chase Basecamp Logo (PDF)
/       .list-icons
/         a href='/media_assets/ChaseBasecamp2017.pdf'
/           = render partial: 'icons/download'

/     .list-item
/       h6 Chase Basecamp Logo (Illustrator)
/       .list-icons
/         a href='/media_assets/ChaseBasecamp2017.ai'
/           = render partial: 'icons/download'

/     .list-item
/       h6 Geometric Mountains (EPS)
/       .list-icons
/         a href='/media_assets/GEOMETRIC_MOUNTAINS.eps'
/           = render partial: 'icons/download'

/     .list-item
/       h6 Style Guide (PDF)
/       .list-icons
/         a href='/media_assets/DSW16_STYLE_GUIDE.pdf' target='_blank'
/           = render partial: 'icons/download'

/     .list-item
/       h6 2018 Speaker Orientation Slides
/       .list-icons
/         a href='https://docs.google.com/presentation/d/16qDbZo8UjZlBIqJWzcbvNdqRbNIzFjRVGzLzd4Kj77Q/edit' target='_blank'
/           = render partial: 'icons/download'

/     .list-item
/       h6 2018 Slide Template 4:3 (Apple Keynote)
/       .list-icons
/         a href='/media_assets/DSW18_TEMPLATE 4_3.key' target='_blank'
/           = render partial: 'icons/download'

/     .list-item
/       h6 2018 Slide Template 16:9-HD (Apple Keynote)
/       .list-icons
/         a href='/media_assets/DSW18_TEMPLATE 16_9.key' target='_blank'
/           = render partial: 'icons/download'

/     .list-item
/       h6 2018 Slide Template 4:3 (PowerPoint)
/       .list-icons
/         a href='/media_assets/DSW18_TEMPLATE 4_3.pptx' target='_blank'
/           = render partial: 'icons/download'

/     .list-item
/       h6 2018 Slide Template 16:9-HD (PowerPoint)
/       .list-icons
/         a href='/media_assets/DSW18_TEMPLATE 16_9.pptx' target='_blank'
/           = render partial: 'icons/download'

/     .list-item
/       h6 Montserrat Light Font
/       .list-icons
/         a href='https://www.fontsquirrel.com/fonts/montserrat' target='_blank'
/           = render partial: 'icons/download'

