= render layout: 'layouts/shared/secondary_hero', locals: { title: 'FAQ', sub_title: 'Frequently asked questions', description: 'Denver Startup Week is a week of events showcasing Denver’s entrepreneur community in tech, design, business, and manufacturing.' } do
  = render 'layouts/shared/about_secondary_hero_nav'

.Faq
  = render 'components/faq_dropdown'